@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #D1D8EC;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #D1D8EC;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #b2b8c9;    /* color of the scroll thumb */
  border-radius: 30px;       /* roundness of the scroll thumb */
  border: 3px solid #b2b8c9;  /* creates padding around scroll thumb */
}

/* Contenido del archivo */
pre {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #D1D8EC;
  -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  padding: 20px;
  margin: 40px;
  /* scroll invisible */
  
}

.Procesar {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
  background: #9BA4B5;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #9BA4B5;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #9BA4B5;
}

.Procesar:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #394867;
  border: 2px solid #394867;
}

.Procesar:active {
  transform: scale(0.9);
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
  background: #9BA4B5;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #9BA4B5;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #9BA4B5;
}

.custom-file-upload:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #212A3E;
  border: 2px solid #212A3E;
}

.custom-file-upload:active {
  transform: scale(0.9);
}